
<nav class="mobile-bottom-nav">
	<div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
		<div class="mobile-bottom-nav__item-content">
        {% if user.is_authenticated %}
        <a href="{% url 'customer_account'%}"><i class="fa fa-user-alt" aria-hidden="true"></i><br>
        {{ user.get_full_name }}</a>
        {% else %}
        <a href="{% url 'accounts:log_in'%}"  ><i class="fa fa-sign-in-alt" aria-hidden="true"></i><br>
        Login</a>
        {% endif %}
		</div>		
	</div>

	
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<a  href="{% url 'lead'%}"><i class="fa fa-plus"></i></br>
			Generate Quote</a>
		</div>		
	</div>
</nav>