{% extends "base.html"%}
{% load static%}
{% load crispy_forms_tags %}  
{% block title%}
quote
{% endblock%}
{% block main%}
<link rel="stylesheet" href="{%static 'leads/css/leads.css'%}">
<div class="heading">
</div>
<div class="introduction">
   <h1>GENERATE A QUOTE</h1>
    <p>
    ElimuSmart is a new, short-term school fees solution that seeks to protect your child from dropping out of school due to lack of fees in the event of the following risks happening to you as the child's parent or guardian;
    </p>
    <ul>
        <li>The unfortunate event of a parents death from natural causes or as a result of an accident</li>
        <li>A parent is diagnosed with a critical illness such as cancer, stroke, heart disease etc.</li>
        <li>In the case of total and permanent disability as a result of injury or illness which leaves the parent unable to work and provide for their family</li>
    </ul>    
        
    <p>The amount guaranteed is designed to closely mirror the actual school fees payable for the your child's education in their current school.</p>
    <p>
    Unlike other education policies, ElimuSmart is over 20 times cheaper  and renewable every year just like the way you renew your motor or health Insurance.
    </p>
</div>
<br>
<div class="quote">
    <div class="container">
        <div class="row">
            <div class="advert col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img src="https://images.pexels.com/photos/4545769/pexels-photo-4545769.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <form class="quote-form" method="post">
                {% csrf_token %}
                    {{form|crispy}}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block">Get a quote</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
{% block custom_js %}
<script  src="{%static 'leads/js/leads.js'%}"></script>
{% endblock%}
{% endblock%}