{% extends 'base.html'%}
{% load static%}
{% block title%}checkout{%endblock%}
{% load baseinformation_tags %}
{% base_info as base %}

{%block main%}
<link rel="stylesheet" href="{%static 'checkout/css/print_invoice.css'%}" media="print"/>
<link rel="stylesheet" href="{%static 'checkout/css/checkout.css'%}">
<div class="invoice">
    <div class="invoice-logo">
        <h1>Elimusmart</h1>
    </div>
    {% for objects in data %}
    <div class="invoice-ribbon"><div class="ribbon-inner">UNPAID</div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 float-start">
        <p>Full Name</p>
        <p>Email</p>
        <p>Phone</p>
        <p>Parents DoB</p>
        <p>Sum Assured</p>
        <p>Education Level</p>
        <p>Years of Cover</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 float-end">
        <p>{{objects.name}}</p>
        <p>{{objects.email}}</p>
        <p>{{objects.phone}}</p>
        <p>{{objects.dob}}</p>
        <p>{{objects.sum_assured}}</p>
        <p>{{objects.education_level}}</p>
        <p>{{objects.school_years}}</p>
    </div>

    <div class="table-row">
        <table class="table table-striped">
        <thead>
            <tr>
            <th class="text-center" style="width:5%">#</th>
            <th style="width:90%">Benefits</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td class="text-center">1</td>
            <td>Critical Illness such as Cancer, heart attack, stroke, kidney failure etc.</td>
            </tr>
            <tr>
            <td class="text-center">2</td>
            <td>Total and Permanent Disability ( if you are unable to earn an income due to disability)</td>
            </tr>
            <tr>
            <td class="text-center">3</td>
            <td>Death either Natural (caused by illness) and Accidental (caused by accidental means)</td>
            </tr>
        </tbody>
        </table>

    </div>
    <div class="row">
        <div class="col-xs-6 text-right pull-right invoice-total">
                <h1><b><u>Total :{{objects.total}}</u></b></h1>
        </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 float-start">
        <div class="d-grid gap-2">
             <button type="button" class="btn btn-primary btn-lg btn-block" onclick='window.print()' id="print" >Print page</button>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 float-end">
        <form method="post" action="{% url 'mpesa'%}">
            {% csrf_token %}
            <input type="hidden" value="{{objects.order_number}}" name="order_number">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg btn-block">Buy Now</button>
            </div>
        </form>    
    </div>
    <br>
    <br>
</div>
{%endfor%}    
{% block custom_js%}
{% endblock%}
{%endblock main%}