.introduction{
    padding-top:10%;
    padding-left:5%;
    padding-right:5%;
    font-size:30px;
    font-weight:1000 ;
}
.introduction h1{
    text-align: center;
    border-bottom: 1px solid red;
}
.introduction ul {
    list-style-type:none;
  }

.introduction ul li::before {
    content: "\27B8";
    color: red; 
    font-weight: bold; 
    display: inline-block;
    width: 3em;
    margin-left: -1em;
    font-size: 18px;
  }
.quote{
    margin-bottom:15%;
    margin-bottom:10%;
    margin-left:10%;
    margin-right:10%;
    box-shadow: 0 4px 8px 0 rgb(249, 10, 10);
    transition: 0.3s;
}  
.quote:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}
.quote img{
    min-height:600px;
}
.asteriskField{
    color:red;
}
.btn-success{
    background-color:rgb(221,22,22);
}