{% extends 'accounts/layouts/base.html'%}
{%block title%}
log-in
{% endblock title %}
{%block content%}
{% if request.user_agent.is_mobile %}
<div class="form_wrapper">
  <div class="form_container">
    <div class="row clearfix">
      <div class="">
        <form class="login__form" action="{% url "accounts:log_in"%}" method="POST" id="loginForm1">
          {% csrf_token %}
          <div  class="mobile-signup-title" ><h2>Log-In</h2></div>
            {% if form.non_field_errors%}       
            <div class="alert alert-danger" role="alert">
              {{ form.non_field_errors }}
            </div>  
            {% endif %}
            <div class="row clearfix">
                <div class="col_half">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                          {% if form.email.errors%}       
                          <div class="alert alert-danger" role="alert">
                              {{ form.email.errors }}
                          </div>  
                          {% endif %}                                                
                          {{form.email}}
                     </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col_half">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                          {% if form.password1.errors%}       
                          <div class="alert alert-danger" role="alert">
                              {{ form.password1.errors }}
                          </div>  
                          {% endif %}                                              
                          {{form.password}}
                     </div>
                </div>
            </div>
            <input class="button" type="submit" value="Register" />
            <p><a href="{%url "accounts:sign_up"%}">Or Sign Up</a></p>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="wrapper__area" id="wrapper_Area">
    <!-- Forms Area -->
    <div class="forms__area">
    <!-- Login Form -->
    <form class="login__form" action="{% url "accounts:log_in"%}" method="POST" id="loginForm1">
        {% csrf_token %}
            {% if form.non_field_errors%}       
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
             </div>  
            {% endif %}
      <h1 class="form__title">Sign In!</h1>
      <!-- inputs Groups -->
      <div class="input__group">
        {% if form.email.errors%}       
        <div class="alert alert-danger" role="alert">
            {{ form.email.errors }}
        </div>  
        {% endif %}
        <label class="field">
          {{form.email}}
          {% comment %} <input type="email" name="username" placeholder="Email" id="loginEmail" required> {% endcomment %}
        </label>
        <span class="input__icon"><i class="bx bx-user"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group">
        {% if form.password.errors%}       
        <div class="alert alert-danger" role="alert">
            {{ form.password.errors }}
        </div>  
        {% endif %}
        <label class="field">
          {{form.password}}
        </label>
        <span class="input__icon"><i class="bx bx-lock"></i></span>
        <span class="showHide__Icon"><i class="bx bx-hide"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="form__actions">
        <label for="checkboxInput" class="remeber_me">
          {{form.remember_me}}
          <span class="checkmark"></span>
          <span>Remeber Me</span>
        </label>
        <div class="forgot_password"><a href="{% url 'accounts:restore_password'%}">Forgot Password?</a></div>
      </div>
      <!-- Login Button -->
      <button type="submit" class="submit-button">Sign in</button>
      <!-- Alternate Login -->
      <div class="alternate-login">
        <div class="link">
          <i class='bx bxl-google'></i>
          <span>Google</span>
        </div>
        <div class="link">
          <i class='bx bxl-facebook-circle'></i>
          <span>Facebook</span>
        </div>
      </div>
    </form> <!-- End Login Form -->
  </div><!-- End Forms Area -->

  <!-- Aside Area -->
  <div class="aside__area" id="aside_Area">
    <div class="login__aside-info">
      <h4>Hello</h4>
      <img src="https://d.top4top.io/p_1945xjz2y1.png" alt="Image">
      <p>Enter your personal details and start journey with us</p>
       <a href="{%url "accounts:sign_up"%}"><button id="1aside_signUp_Btn">Sign Up</button></a>
    </div>
    <div class="sign-up__aside-info">
      <h4>Welcome</h4>
      <img src="https://e.top4top.io/p_1945sidbp2.png" alt="Image">
      <p>To Keep connected with us please login with your personal info</p>
      <a href="{%url "accounts:sign_up"%}"><button id="1aside_signIn_Btn">Sign In</button></a>
    </div>
  </div>
</div>
{% endif %}
{% endblock content%}