{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}  

{% block title%}Resend Activation Link{% endblock%}


{% block main %}
<link rel="stylesheet" href="{% static 'accounts/css/password_recovery.css'%}">     
<div class="main">
    <h4>Resend An Activation Link</h4>
    <form method="post">
        {% csrf_token %}
            {{form.email_or_username|as_crispy_field}}
        <div class="d-grid gap-2">
            <button class="btn btn-success">Next</button>
        </div>
    </form>
    <hr>
    <ul>
        <li>
            <a href="{% url 'accounts:log_in' %}">Log in</a>
        </li>
    </ul>
</div>
{% endblock %}
