{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}  


{% block title %}Restore password{% endblock%}
{% block main %}
<link rel="stylesheet" href="{% static 'accounts/css/password_recovery.css'%}">     
<div class=" main row">
    <div  class="col-lg-12 col-sm-12 col-md-12 col-xsm-12">
    <h1>Forgot Your Password</h1>
       <p><b>That's okay,it happens!.Fill the fild bellow and reset your password</b></p>
       <form method="post">
       {% csrf_token %}
            {{form.email_or_username|as_crispy_field}}
            <div class="d-grid gap-2">
                <button type="submit" class="btn  btn-lg btn-success" >Next</button>
            </div>
            <p>Did you remember? <a href="{% url 'accounts:log_in' %} ">Sign In</a></p>
        </form>
    </div>
</div>
{% endblock %}
