{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}  

{% block main%}
<link rel="stylesheet" href="{% static 'accounts/css/password_recovery.css'%}">     
<div class="main">
    <h1>Reset password</h1>

    {% if validlink %}

        <p>
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>

        <form method="post">

            {% csrf_token %}
                {{form.new_password1|as_crispy_field}}
                {{form.new_password2|as_crispy_field}}
            <div class="d-grid gap-2">
                <button class="btn btn-success">Change</button>
            </div>
        </form>

    {% else %}

        <div class="alert alert-danger">
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </div>

    {% endif %}
</div>
{% endblock %}
