{% extends 'base.html' %}
 {% load static %}
 {% block title%}Password Restored{% endblock%}}
{% block main %}
<link rel="stylesheet" href="{% static 'accounts/css/password_recovery.css'%}">     
<div class="main">
    <h2>Password Restored</h2>

    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.You should receive them shortly.

        <br>
If you don't receive an email, please make sure you've entered the address you signed up with, and check your spam folder.
    </p>
</div>

{% endblock %}
