{% extends 'accounts/layouts/base.html' %}
{% load static %}
{% load account_background_tags%}
{% block title %}Sign-Up{% endblock %}

{% block content %}
<!-- Wrapper Area -->
<div class="wrapper__area" id="wrapper_Area">
<h1>Please scrool bellow and find a secondary test form</h1>

    <!-- Forms Area -->
    <div class="forms__area">
    <!-- Sign Up Form -->
    <form class="sign-up__form" action="{%url "accounts:sign_up"%}" method="POST" id="signUpForm">
        {% csrf_token %}
      <!-- Form Title -->
      <h1 class="form__title">Sign Up!</h1>
      <!-- inputs Groups -->
      <div class="input__group">
        <label class="field">
          <input type="text" name="first_name" placeholder="First name" id="">
        </label>
        <span class="input__icon"><i class="bx bx-at"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group">
        <label class="field">
          <input type="text" name="last_name" placeholder="Last name" id="">
        </label>
        <span class="input__icon"><i class="bx bx-at"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group">
        <label class="field">
          <input type="email" name="email" placeholder="Email@example.com" id="">
        </label>
        <span class="input__icon"><i class="bx bx-at"></i></span>
        <small class="input__error_message"></small>
      </div>
       <div class="input__group">
        <label class="field">
          <input type="number" name="phone" placeholder="Phone number" id="">
        </label>
        <span class="input__icon"><i class="bx bx-at"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group">
        <label class="field">
          <input type="password" name="password1" placeholder="Password123$#%&..." id="signUpPassword">
        </label>
        <span class="input__icon"><i class="bx bx-lock"></i></span>
        <span class="showHide__Icon"><i class="bx bx-hide"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group confirm__group">
        <label class="field">
          <input type="password" name="password2" placeholder="Confirm Password" id="signUpConfirmPassword">
        </label>
        <span class="input__icon"><i class="bx bx-lock"></i></span>
        <span class="showHide__Icon"><i class="bx bx-hide"></i></span>
        <small class="input__error_message"></small>
      </div>
      <!-- Sign Up Button -->
      <button type="submit" class="submit-button" id="signUpSubmitBtn">Sign Up</button>
      <!-- Alternate Login -->
      <div class="alternate-login">
        <div class="link">
          <i class='bx bxl-google'></i>
          <span>Google</span>
        </div>
        <div class="link">
          <i class='bx bxl-facebook-circle'></i>
          <span>Facebook</span>
        </div>
      </div>
    </form> <!-- End Sign Up Form -->
  </div><!-- End Forms Area -->

  <!-- Aside Area -->
  <div class="aside__area" id="aside_Area">
    <div class="login__aside-info">
      <h4>Hello</h4>
      <img src="https://d.top4top.io/p_1945xjz2y1.png" alt="Image">
      <p>Enter your personal details and start journey with us</p>
       <a href="{%url "accounts:sign_up"%}"><button id="1aside_signUp_Btn">Sign Up</button></a>
    </div>
    <div class="sign-up__aside-info">
      <h4>Welcome</h4>
      <img src="https://e.top4top.io/p_1945sidbp2.png" alt="Image">
      <p>To Keep connected with us please login with your personal info</p>
      <a href="{%url "accounts:sign_up"%}"><button id="1aside_signIn_Btn">Sign In</button></a>
    </div>
  </div>
</div>

        <div class="container" style="margin-top:10%;">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-7 col-sm-12 col-12" style="background-color:white;">
                        <div class="fxt-page-switcher align-items-center">
                            <div class="fxt-header">
                                <u><a href="{% url 'accounts:log_in' %}" class="switcher-text1">Log In |</a>
                                <a  class="switcher-text1 active">Register</a></u>
                            </div>
                        </div>
                    <form method="POST">
                        {% csrf_token %}
                         {% if form.non_field_errors%}       
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>  
                        {% endif %} 
                            <div class="form-group">                                                
                                <div class="fxt-transformY-50 fxt-transition-delay-1"> 
                                    {% if form.first_name.errors%}       
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.first_name.errors }}
                                    </div>  
                                    {% endif %}                                                
                                    {{form.first_name}}
                                </div>
                            </div>
                            <div class="form-group">                                                
                                <div class="fxt-transformY-50 fxt-transition-delay-1"> 
                                    {% if form.last_name.errors%}       
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.last_name.errors }}
                                    </div>  
                                    {% endif %}                                                 
                                    {{form.last_name}}
                                </div>
                            </div>
                            <div class="form-group">                                                
                                <div class="fxt-transformY-50 fxt-transition-delay-1">  
                                    {% if form.phone.errors%}       
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.phone.errors }}
                                    </div>  
                                    {% endif %}                                               
                                    {{form.phone}}
                                </div>
                            </div>
                            <div class="form-group">                                                
                                <div class="fxt-transformY-50 fxt-transition-delay-2"> 
                                    {% if form.email.errors%}       
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.email.errors }}
                                    </div>  
                                    {% endif %}                                                
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="form-group">                                                
                                <div class="fxt-transformY-50 fxt-transition-delay-3">   
                                    {% if form.password1.errors%}       
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.password1.errors }}
                                    </div>  
                                    {% endif %}                                              
                                    {{form.password1}}
                                </div>
                            </div>
                              <div class="form-group">                                                
                                <div class="fxt-transformY-50 fxt-transition-delay-3">  
                                    {% if form.password2.errors%}       
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.password2.errors }}
                                    </div>  
                                    {% endif %}                                                                                            
                                    {{form.password2}}
                                </div>
                                <div class="form-group agent-register">
                                    <div class="fxt-transformY-50 fxt-transition-delay-3">  
                                         <b><p>Register as an Agent:<input type="checkbox" name="agent" id="id_agent"></b>
                                    </div>
                                </div>
                                <div class="fxt-transformY-50 fxt-transition-delay-3">  
                                     {{form.account_type}}{{form.captcha}} 
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-4">
                                    <button type="submit" class="fxt-btn-fill">Register</button>
                                </div>
                            </div>
                        </form>                            
                    </div> 
                </div>                      
            </div>
        </div>
    </section>    
    {%block custom_js%}
    {% endblock%}
{% endblock %}
 