{% extends 'accounts/layouts/base.html' %}
{% load static %}
{% load account_background_tags%}
{% block title %}Sign-Up{% endblock %}

{% block content %}

{% if request.user_agent.is_mobile %}
<div class="form_wrapper">
  <div class="form_container">
    <div class="row clearfix">
      <div class="">
        <form class="sign-up__form" action="{%url "accounts:sign_up"%}" method="POST" id="signUpForm">
          {% csrf_token %}
          <div  class="mobile-signup-title" ><h2>Sign-up</h2></div>
            {% if form.non_field_errors%}       
            <div class="alert alert-danger" role="alert">
              {{ form.non_field_errors }}
            </div>  
            {% endif %}
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user-alt"></i></span>
                {% if form.first_name.errors%}       
                <div class="alert alert-danger" role="alert">
                    {{ form.first_name.errors }}
                </div>  
                {% endif %}                                                
                {{form.first_name}}
            </div>
            <div class="row clearfix">
                <div class="col_half">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user-alt"></i></span>
                        {% if form.last_name.errors%}       
                        <div class="alert alert-danger" role="alert">
                            {{ form.last_name.errors }}
                        </div>  
                        {% endif %}                                                 
                        {{form.last_name}}
                    </div>
                </div>
                <div class="col_half">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-phone-alt"></i></span>
                        {% if form.phone.errors%}       
                        <div class="alert alert-danger" role="alert">
                            {{ form.phone.errors }}
                        </div>  
                        {% endif %}                                                 
                        {{form.phone}}
                    </div>
                </div>
                <div class="col_half">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                          {% if form.email.errors%}       
                          <div class="alert alert-danger" role="alert">
                              {{ form.email.errors }}
                          </div>  
                          {% endif %}                                                
                          {{form.email}}
                     </div>
                </div>
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                {% if form.password1.errors%}       
                <div class="alert alert-danger" role="alert">
                    {{ form.password1.errors }}
                </div>  
                {% endif %}                                              
                {{form.password1}}
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                {% if form.password2.errors%}       
                <div class="alert alert-danger" role="alert">
                    {{ form.password2.errors }}
                </div>  
                {% endif %}                                                                                            
                {{form.password2}}
            </div>
            <div class="">
                  <b><p>Register as an Agent:&nbsp;{{form.agent}}</b><p>
                  <p></b>{{form.captcha}} </b></p>
            </div>
            <input class="button" type="submit" value="Register" />
            <p><a href="{%url "accounts:log_in"%}">Or LogIn</a></p>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="wrapper__area" id="wrapper_Area">
    <!-- Forms Area -->
    <div class="forms__area">
    <!-- Sign Up Form -->
    <form class="sign-up__form" action="{%url "accounts:sign_up"%}" method="POST" id="signUpForm">
        {% csrf_token %}
        {% if form.non_field_errors%}       
        <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
        </div>  
        {% endif %}
      <!-- Form Title -->
      <h1 class="sign__title">Sign Up!</h1>
      <!-- inputs Groups -->
      <div class="input__group">
        <label class="field">
            {% if form.first_name.errors%}       
            <div class="alert alert-danger" role="alert">
                {{ form.first_name.errors }}
            </div>  
            {% endif %}                                                
            {{form.first_name}}
        </label>
        <span class="input__icon"><i class="bx bx-at"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group">
        <label class="field">
            {% if form.last_name.errors%}       
            <div class="alert alert-danger" role="alert">
                {{ form.last_name.errors }}
            </div>  
            {% endif %}                                                 
            {{form.last_name}}
        </label>
        <span class="input__icon"><i class="bx bx-at"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group">
        <label class="field">
            {% if form.phone.errors%}       
            <div class="alert alert-danger" role="alert">
                {{ form.phone.errors }}
            </div>  
            {% endif %}                                               
            {{form.phone}}
        </label>
        <span class="input__icon"><i class="bx bx-at"></i></span>
        <small class="input__error_message"></small>
      </div>
       <div class="input__group">
        <label class="field">
            {% if form.email.errors%}       
            <div class="alert alert-danger" role="alert">
                {{ form.email.errors }}
            </div>  
            {% endif %}                                                
            {{form.email}}
        </label>
        <span class="input__icon"><i class="bx bx-at"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group">
        <label class="field">
          {% if form.password1.errors%}       
          <div class="alert alert-danger" role="alert">
              {{ form.password1.errors }}
          </div>  
          {% endif %}                                              
          {{form.password1}}
        </label>
        <span class="input__icon"><i class="bx bx-lock"></i></span>
        <span class="showHide__Icon"><i class="bx bx-hide"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="input__group confirm__group">
        <label class="field">
          {% if form.password2.errors%}       
          <div class="alert alert-danger" role="alert">
              {{ form.password2.errors }}
          </div>  
          {% endif %}                                                                                            
          {{form.password2}}
        </label>
        <span class="input__icon"><i class="bx bx-lock"></i></span>
        <span class="showHide__Icon"><i class="bx bx-hide"></i></span>
        <small class="input__error_message"></small>
      </div>
      <div class="">
            <b><p>Register as an Agent:&nbsp;{{form.agent}}</b><p>
            <p></b>{{form.captcha}} </b></p>
      </div>
      <!-- Sign Up Button -->
      <button type="submit" class="submit-button" id="signUpSubmitBtn">Sign Up</button>
    </form> <!-- End Sign Up Form -->
  </div><!-- End Forms Area -->

  <!-- Aside Area -->
  <div class="aside__area" id="aside_Area">
    <div class="login__aside-info">
      <h4>Hello</h4>
      <img src="https://d.top4top.io/p_1945xjz2y1.png" alt="Image">
      <p>Enter your personal details and start journey with us</p>
       <a href="{%url "accounts:log_in"%}"><button id="1aside_signUp_Btn">Sign In</button></a>
    </div>
  </div>
</div>
 
    {%block custom_js%}
    {% endblock%}
{% endif %}    
{% endblock %}
 