{% load static %}
<link rel="stylesheet" href="{%static 'mpesa/css/modal.css'%}">

<div class="modal fade" id="mpesaModal" data-keyboard="false"  data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div>
    <div class="mesh-loader">
      <div class="set-one">
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="set-two">
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
